/*-----------------------------------------------------------------------------
 Global
-----------------------------------------------------------------------------*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: #ffffff;
}
.hidden {
  display: none !important;
}

/*-----------------------------------------------------------------------------
 Container
-----------------------------------------------------------------------------*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;    
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*-----------------------------------------------------------------------------
 Header
-----------------------------------------------------------------------------*/
#header {
  font-size: 20px;
  font-family: "Roboto Condensed";
  font-weight: 300;
  background: rgba(0, 0, 0, 0.5);
  z-index: 997;
}
#header a {
  text-decoration: none;
  text-transform: uppercase;
}
#header .highlight {
  padding-left: 2px;
  color: #86c232;
}
#header .logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -1px;
  color: #ffffff;
}
#header .logo img {
  border-radius: 50%;
  max-height: 30px;
  vertical-align: middle;
  margin-right: .5rem;
}
#header .container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*-----------------------------------------------------------------------------
 Navigation Menu
-----------------------------------------------------------------------------*/

/* Desktop navigation  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
}
.navbar a {
  white-space: nowrap;
  color: #ffffff;
}
.navbar a.nav-menu-item {
  padding-left: 2px;
  padding-right: 2px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  padding-left: 7px;
}
.navbar li.active a {
  color: #000000;
  background-color: #ffffff;
}

/* Mobile navigation  */
.mobile-nav-toggle {
  cursor: pointer;
  display: none;
  line-height: 0;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: #86c232;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}
.navbar-mobile li {
  line-height: 2;
}
.navbar-mobile li.active a {
  color: #ffffff;
  background-color: transparent;
}
.navbar-mobile .nav-menu-social {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 15px;
}
#fp-nav ul li a span {
  background-color: #ffffff;
}

/*-----------------------------------------------------------------------------
 Footer
-----------------------------------------------------------------------------*/
#footer{
  margin-top: auto;
}
#footer .copyright p {
  text-align: center;
}

/*-----------------------------------------------------------------------------
 Sections
-----------------------------------------------------------------------------*/
.section {
  text-align: left;
  font-family: "Roboto Condensed";
  color: #666666;
}
.section h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-weight: 90;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.section h2 {
  color: #ffffff;
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 24px;
}
.section h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.section h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.section .highlight {
  color: #86c232;
  font-size: 2.25rem;
}

/*-----------------------------------------------------------------------------
 Intro section
-----------------------------------------------------------------------------*/
#section-intro {
  padding: 256px 0 256px;
  background-image: url('../images/intro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-intro h1 {
  font-size: 48px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-transform: none;  
}
#section-intro h3 {
  font-size: 1.75rem;  
}

/*-----------------------------------------------------------------------------
 About section
-----------------------------------------------------------------------------*/
#section-about {
  background-color: #222629;
}

/*-----------------------------------------------------------------------------
 Projects section
-----------------------------------------------------------------------------*/
#section-projects {
  background-color: #222629;
}

/*-----------------------------------------------------------------------------
 Contact section
-----------------------------------------------------------------------------*/
#section-contact {
  background-color: #222629;
}
#section-contact .section-container {
  margin-top: auto;
}
#section-contact .paragraph {
  margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------
 Buttons
-----------------------------------------------------------------------------*/
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  width: max-content;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto Condensed";
  text-decoration: none;
}
.button-icon {
  padding: 8px;
}
.button-label {
  padding: 8px;
}
.button-icon-email {
  background-color: #424242;
}
.button-label-email {
  background-color: #5b5b5b;
}
.email-visible > .button-icon-email {
  background-color: #d33b30;
}
.email-visible > .button-label-email {
  background-color: #ea4335;
}
.button-icon-linkedin {
  background-color: #149bcc;
}
.button-label-linkedin {
  background-color: #15ace5;
}
.button-icon-send-message {
  background-color: #78aa2c;
}
.button-label-send-message {
  background-color: #86c232;
}
.button-icon-itch {
  background-color: #e25353;
}
.button-label-itch {
  background-color: #fa5c5c;
}
.button-icon-github {
  background-color: #000000;
}
.button-label-github {
  color: #000000;
  background-color: #ffffff;
}
